<h2>Gerenciar Todas as Reservas</h2>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Sala</th>
      <th>Solicitante</th>
      <th>Início</th>
      <th>Status</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    @for(reserva of reservas; track reserva.id) {
      <tr>
        <td>{{ reserva.id }}</td>
        <td>{{ reserva.sala.nome_sala }}</td>
        <td>{{ reserva.solicitante.nome_completo }}</td>
        <td>{{ reserva.data_hora_inicio | date:'dd/MM/yy HH:mm' }}</td>
        <td>{{ reserva.status }}</td>
        <td>
          @if (reserva.status !== 'Cancelada' && isReservaFutura(reserva)) {
            <button (click)="cancelarReserva(reserva.id)">Cancelar</button>
          }
        </td>
      </tr>
    } @empty {
      <tr>
        <td colspan="6">Nenhuma reserva encontrada no sistema.</td>
      </tr>
    }
  </tbody>
</table>